
html, body {
	padding: 0;
	margin: 0;
    background-color: rgb(250, 250, 250);
}

#haut_gauche { 
    color: rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#haut_droite { 
    width: 70%;
    height: 30%;
    background: rgb(125, 125, 125);
    position: absolute;
    left: 30%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bas_gauche { 
    padding-top: 10px;
    width: 30%;
    height: auto;
    position: absolute;
    padding-bottom: 10px;
    top: 30%;
    background: rgb(125, 125, 125);
}

#bas_droite { 
    width: 70%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 30%;
}

.titre_img {
    display: inline-flex;
    width: fit-content;
    margin: 0 0 0 15%;
    align-items: center;
}

#coin {
    background: rgb(125, 125, 125);
    position: absolute;
    top: 0;
    width: 10vw;
    height: 10vw;
    left: 30%;
    top: 30%;
    z-index: 1;
}

#cache {
    border-top-left-radius: 50%;
    background: rgb(250, 250, 250);
    position: absolute;
    height: 10vw;
    width: 10vw;
    left: 30%;
    top: 30%;
    z-index: 2;
}

img {
    width: 3.6vw;
    height: 3vw;
    margin-left: 1vw;
    transition-duration: 2s;
}

img:hover {
    transform: rotate(720deg);
    transition-duration: 2s;
}

#parler {
    width: 3.6vw;
    height: 3vw;
    margin-left: 1vw;
}

h1 {
    font-size: 2.9vw;
}

h2 {
    font-size: 2.5vw;
    margin: 2.5vw 0 1vw 15%;
}

h3 {
    font-size: 2.5vw;
    color: rgb(250, 250, 250);
    z-index: 2;
}

p {
    font-size: 2vw;
    margin: 1vw 0 0 15%;
}

ul {
    font-size: 2vw;
    margin: 0 0 0 15%;
}

#cache_nom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 30%;
    height: 30%;
    background: rgb(125, 125, 125);
    transition-property: background-color;
}

#cache_nom:hover {
    background-color: transparent;

}

.triangle {
    border: 1vw solid;
    border-color: transparent transparent transparent black;
    width: 0;
    height: 0;
}